:root {
  /* Colors */
  --accent-mercury: hsl(194, 48%, 49%);
  --accent-venus: hsl(33, 82%, 61%);
  --accent-earth: hsl(263, 67%, 51%);
  --accent-mars: hsl(10, 63%, 51%);
  --accent-jupiter: hsl(2, 68%, 53%);
  --accent-saturn: hsl(17, 73%, 46%);
  --accent-uranus: hsl(169, 73%, 44%);
  --accent-neptune: hsl(222, 87%, 56%);

  --accent-planet: var(--accent-earth);

  --color-white: hsl(0, 0%, 100%);
  --color-navy-900: hsl(240, 67%, 8%);
  --color-navy-400: hsl(240, 17%, 26%);
  --color-navy-300: hsl(240, 6%, 54%);

  --color-btn-hover: hsla(0, 0%, 85%, 0.2);
  --color-btn-border: hsla(0, 0%, 100%, 0.2);

  /* Planet colors */
  --color-mercury: #def4fc;
  --color-venus: #f7cc7f;
  --color-earth: #545bfe;
  --color-mars: #ff6a45;
  --color-jupiter: #ecad7a;
  --color-saturn: #fccb6b;
  --color-uranus: #65f0d5;
  --color-neptune: #497efa;

  --color-planet: var(--color-earth);

  /* Planet sizes */
  --size-mercury: 290px;
  --size-venus: 400px;
  --size-earth: 450px;
  --size-mars: 336px;
  --size-jupiter: 582px;
  --size-saturn: 416px;
  --size-uranus: 458px;
  --size-neptune: 450px;

  --size-planet: var(--size-earth);

  --planet-saturn-ring-height: 73px;

  /* Spacing */
  --spacing-25: 0.25rem;
  --spacing-50: 0.75rem;
  --spacing-100: 1rem;
  --spacing-200: 1.5rem;
  --spacing-250: 1.75rem;
  --spacing-275: 2rem;
  --spacing-300: 2.5rem;
  --spacing-400: 3rem;

  /* Typography */
  --ff-base: 'Spartan', sans-serif;

  --text-logo-ff: 'Antonio';
  --text-logo-weight: 500;
  --text-logo-size: 1.75rem;
  --text-logo-letter-spacing: -1.05px;

  --text-xl-ff: 'Antonio';
  --text-xl-weight: 500;
  --text-xl-size: 5rem;

  --text-lg-ff: 'Antonio';
  --text-lg-weight: 500;
  --text-lg-size: 2.5rem;
  --text-lg-letter-spacing: -1.5px;

  --text-md-ff: 'Spartan';
  --text-md-weight: 700;
  --text-md-size: 0.75rem;
  --text-md-letter-spacing: 2.6px;
  --text-md-line-height: 0px;

  --text-sm-ff: 'Spartan';
  --text-sm-weight: 700;
  --text-sm-size: 0.6875rem;
  --text-sm-letter-spacing: 1px;
  --text-sm-line-height: 25px;

  --text-body-ff: 'Spartan';
  --text-body-weight: 400;
  --text-body-size: 0.874rem;
  --text-body-line-height: 25px;
}

/* Resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font: inherit;
  border: none;
  cursor: pointer;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Typography */
@font-face {
  font-family: 'Antonio';
  src: url('../fonts/Antonio/Antonio-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Spartan';
  src: url('../fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf')
    format('truetype');
  font-display: swap;
}

body {
  font-family: var(--ff-base);
}

.text-logo {
  font-family: var(--text-logo-ff);
  font-weight: var(--text-logo-weight);
  font-size: var(--text-logo-size);
  letter-spacing: var(--text-logo-letter-spacing);
}

.text-xl {
  font-family: var(--text-xl-ff);
  font-weight: var(--text-xl-weight);
  font-size: var(--text-xl-size);
}

.text-lg {
  font-family: var(--text-lg-ff);
  font-weight: var(--text-lg-weight);
  font-size: var(--text-lg-size);
  letter-spacing: var(--text-lg-letter-spacing);
}

.text-md {
  font-family: var(--text-md-ff);
  font-weight: var(--text-md-weight);
  font-size: var(--text-md-size);
  letter-spacing: var(--text-md-letter-spacing);
  line-height: var(--text-md-line-height);
}

.text-sm {
  font-family: var(--text-sm-ff);
  font-weight: var(--text-sm-weight);
  font-size: var(--text-sm-size);
  letter-spacing: var(--text-sm-letter-spacing);
  line-height: var(--text-sm-line-height);
}

.text-body {
  font-family: var(--text-body-ff);
  font-weight: var(--text-body-weight);
  font-size: var(--text-body-size);
  line-height: var(--text-body-line-height);
}

/* Media queries */
@media (max-width: 50rem) {
  :root {
    --text-xl-size: 3rem;

    --text-lg-size: 1.5rem;
    --text-lg-letter-spacing: -0.9px;

    --text-md-size: 0.5625rem;
    --text-md-letter-spacing: 1.93px;

    --text-sm-size: 0.5rem;
    --text-sm-letter-spacing: 0.73px;
    --text-sm-line-height: 16px;

    --text-body-size: 0.75rem;
    --text-body-line-height: 22px;
  }
}

/* Planets */
.planet-page {
  /* Default to Earth */
  --size-planet: var(--size-earth);

  --color-planet: var(--color-earth);
  --planet-rotation-time: 15s;

  --texture-1-url: url('../images/planets/earth/earth-texture-1.svg');
  --planet-width-texture-1: 722px;

  --texture-2-url: url('../images/planets/earth/earth-texture-2.svg');
  --planet-width-texture-2: 507px;

  --texture-3-url: none;
  --planet-width-texture-3: none;

  --texture-4-url: none;
  --planet-width-texture-4: none;

  --planet-internal-url: url('../images/planets/earth/earth-internals.svg');
}

.planet-page .planet-texture-1 {
  background-image: var(--texture-1-url);
}

.planet-page .planet-texture-2 {
  background-image: var(--texture-2-url);
}

.planet-page .planet-texture-3 {
  background-image: var(--texture-3-url);
}

.planet-page .planet-texture-4 {
  background-image: var(--texture-4-url);
}

.planet-page .planet-internal-structure {
  background-image: var(--planet-internal-url);
}

.planet-page[data-planet='mercury'] {
  --size-planet: var(--size-mercury);
  --color-planet: var(--color-mercury);
  --planet-rotation-time: 30s;

  --texture-1-url: url('../images/planets/mercury/mercury-texture-1.svg');
  --planet-width-texture-1: 267px;

  --texture-2-url: none;
  --planet-width-texture-2: none;

  --texture-3-url: none;
  --planet-width-texture-3: none;

  --texture-4-url: none;
  --planet-width-texture-4: none;

  --planet-internal-url: url('../images/planets/mercury/mercury-internals.svg');
}

.planet-page[data-planet='venus'] {
  --size-planet: var(--size-venus);
  --color-planet: var(--color-venus);
  --planet-rotation-time: 40s;

  --texture-1-url: url('../images/planets/venus/venus-texture-1.svg');
  --planet-width-texture-1: 520px;

  --texture-2-url: url('../images/planets/venus/venus-texture-2.svg');
  --planet-width-texture-2: 441px;

  --texture-3-url: none;
  --planet-width-texture-3: none;

  --texture-4-url: none;
  --planet-width-texture-4: none;

  --planet-internal-url: url('../images/planets/venus/venus-internals.svg');
}

.planet-page[data-planet='mars'] {
  --size-planet: var(--size-mars);
  --color-planet: var(--color-mars);
  --planet-rotation-time: 15s;

  --texture-1-url: url('../images/planets/mars/mars-texture-1.svg');
  --planet-width-texture-1: 393px;

  --texture-2-url: url('../images/planets/mars/mars-texture-2.svg');
  --planet-width-texture-2: 364px;

  --texture-3-url: none;
  --planet-width-texture-3: none;

  --texture-4-url: none;
  --planet-width-texture-4: none;

  --planet-internal-url: url('../images/planets/mars/mars-internals.svg');
}

.planet-page[data-planet='jupiter'] {
  --size-planet: var(--size-jupiter);
  --color-planet: var(--color-jupiter);
  --planet-rotation-time: 10s;

  --texture-1-url: url('../images/planets/jupiter/jupiter-texture-1.svg');
  --planet-width-texture-1: 873px;

  --texture-2-url: url('../images/planets/jupiter/jupiter-texture-2.svg');
  --planet-width-texture-2: 867px;

  --texture-3-url: url('../images/planets/jupiter/jupiter-texture-3.svg');
  --planet-width-texture-3: 876px;

  --texture-4-url: url('../images/planets/jupiter/jupiter-texture-4.svg');
  --planet-width-texture-4: 794px;

  --planet-internal-url: url('../images/planets/jupiter/jupiter-internals.svg');
}

.planet-page[data-planet='neptune'] {
  --size-planet: var(--size-neptune);
  --color-planet: var(--color-neptune);
  --planet-rotation-time: 12.5s;

  --texture-1-url: url('../images/planets/neptune/neptune-texture-1.svg');
  --planet-width-texture-1: 869px;

  --texture-2-url: url('../images/planets/neptune/neptune-texture-2.svg');
  --planet-width-texture-2: 869px;

  --texture-3-url: url('../images/planets/neptune/neptune-texture-3.svg');
  --planet-width-texture-3: 478px;

  --texture-4-url: none;
  --planet-width-texture-4: none;

  --planet-internal-url: url('../images/planets/neptune/neptune-internals.svg');
}

.planet-page[data-planet='uranus'] {
  --size-planet: var(--size-uranus);
  --color-planet: var(--color-uranus);
  --planet-rotation-time: 13s;

  --texture-1-url: url('../images/planets/uranus/uranus-texture-1.svg');
  --planet-width-texture-1: 870px;

  --texture-2-url: url('../images/planets/uranus/uranus-texture-2.svg');
  --planet-width-texture-2: 866px;

  --texture-3-url: url('../images/planets/uranus/uranus-texture-3.svg');
  --planet-width-texture-3: 871px;

  --texture-4-url: none;
  --planet-width-texture-4: none;

  --planet-internal-url: url('../images/planets/uranus/uranus-internals.svg');
}

.planet-page[data-planet='uranus'] .planet-textures {
  transform: rotate(90deg);
}

.planet-page[data-planet='uranus'] .planet-texture-1,
.planet-page[data-planet='uranus'] .planet-texture-2,
.planet-page[data-planet='uranus'] .planet-texture-3,
.planet-page[data-planet='uranus'] .planet-texture-4 {
  animation-direction: reverse;
}

.planet-page[data-planet='saturn'] {
  --size-planet: var(--size-saturn);
  --color-planet: var(--color-saturn);
  --planet-rotation-time: 9s;

  --texture-1-url: url('../images/planets/saturn/saturn-texture-1.svg');
  --planet-width-texture-1: 871px;

  --texture-2-url: none;
  --planet-width-texture-2: none;

  --texture-3-url: none;
  --planet-width-texture-3: none;

  --texture-4-url: none;
  --planet-width-texture-4: none;

  --planet-internal-url: url('../images/planets/saturn/saturn-internals.svg');
}

.planet-page[data-planet='saturn'] .planet-textures {
  transform: rotate(-145deg) translate(-30%, -30%);
}

.planet-page[data-planet='saturn'] .saturn-ring-front,
.planet-page[data-planet='saturn'] .saturn-ring-back {
  opacity: 1;
}
